@{
    Layout = "~/Views/_Layout.cshtml";
}

<div ng-controller="indexCtrl" layout="column" layout-fill>
    <md-toolbar ng-mouseleave="hideTooltip()">
        <div class="md-toolbar-tools">
            <span>{{language.content.title[language.current]}}</span>
            <span flex></span>
            <div ng-hide="appState.loggedIn">
                <md-button ng-click="showLoginForm = true" ng-mouseenter="showTooltip('BA')" class="md-fab md-mini">BA</md-button>
                <md-button ng-mouseenter="showTooltip('OA')" class="md-fab md-mini">OA</md-button>
            </div>
            <div ng-show="appState.loggedIn">
                <span>{{language.content.salutation[language.current]}}, {{userData.login}}</span>
                <md-button ng-click="logOut()" class="md-fab md-mini">LO</md-button>
            </div>
            <span>|</span>
            <div>
                <md-button ng-click="changeLanguage()" class="md-fab md-mini">{{language.current}}</md-button>
            </div>
        </div>
    </md-toolbar>
    @*<md-subheader ng-show="tooltip.visible" style="border-bottom: 1px solid grey">
        {{tooltip.message}}
    </md-subheader>*@
    <md-content layout layout-align="center center" style="min-height: 80vh">
        <h1 ng-hide="showLoginForm || appState.loggedIn">
            {{language.content.notLoggedInMsg[language.current]}}
        </h1>
        <div ng-show="showLoginForm" md-whiteframe="3dp" layout-padding flex="50">
            <basic-auth-drv login="logIn(userName, password)" show-login-form="showLoginForm"></basic-auth-drv>
        </div>
        <div ng-show="appState.loggedIn" md-whiteframe="3dp" layout-padding flex="90">
            <panel-drv></panel-drv>
        </div>
    </md-content>
</div>