@{
    Layout = "~/Views/_Layout.cshtml";
}

<div ng-controller="indexCtrl" layout="column" layout-fill>
    <my-data username="@ViewBag.Username"></my-data>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>{{language.content.title[language.current]}}</span>
            <span flex></span>
            <div ng-show="appState.githubUsername != ''">
                <span>{{language.content.salutation[language.current]}}, {{appState.githubUsername}}</span>
                <md-button ng-click="logOut()" class="md-fab md-mini">LO</md-button>
            </div>
            <span>|</span>
            <div>
                <md-button ng-click="changeLanguage()" class="md-fab md-mini">{{language.current}}</md-button>
            </div>
        </div>
    </md-toolbar>
    <md-content layout layout-align="center center" style="min-height: 80vh">
        <div ng-show="appState.githubUsername == ''" md-whiteframe="3dp" layout-padding flex="50">
            <basic-auth-drv login="logIn(userName, password)"></basic-auth-drv>
        </div>
        <div ng-show="appState.githubUsername != ''" md-whiteframe="3dp" layout-padding flex="90" style="min-height: 60vh">
            <panel-drv></panel-drv>
        </div>
    </md-content>
</div>