<ng-form novalidate name="getUserForm" layout="column" layout-padding>
    <md-input-container style="margin: 0 0 0 0 ">
        <label>{{language.content.panelSearch.label[language.current]}}</label>
        <input type="text" ng-model="getUserFormData.name" name="name" required="" placeholder="{{language.content.panelSearch.placeholder[language.current]}}">
        <div ng-messages="getUserFormData.name.$error">
            <div ng-message="required">Field is required</div>
        </div>
    </md-input-container>
    <div layout>
        <span flex></span>
        <md-button ng-click="getUserData()" ng-disabled="getUserForm.$invalid" class="md-button md-raised" aria-label="...">
            {{language.content.panelSearch.button[language.current]}}
        </md-button>
    </div>
</ng-form>
<md-divider></md-divider>
<div ng-hide="data == null || data.repositories.length == 0">
    <md-data-table-toolbar style="border-bottom: solid whitesmoke 1px; background-color: skyblue">
        <div class="md-toolbar-tools">
            <span>{{data.userData.username}} - {{language.content.panelTable.title[language.current]}}</span>
        </div>
        <span flex></span>
        <md-button ng-click="starRepoDialog()" ng-disabled="selected.length == 0" class="md-icon-button">
            <md-icon md-svg-icon="../icons/ic_sentiment_satisfied_black_24px.svg"></md-icon>
        </md-button>
        <md-button ng-click="unstarRepoDialog()" ng-disabled="selected.length == 0" class="md-icon-button">
            <md-icon md-svg-icon="../icons/ic_sentiment_dissatisfied_black_24px.svg"></md-icon>
        </md-button>
    </md-data-table-toolbar>
    <md-data-table-container style="max-height: 50vh">
        <table md-data-table md-row-select="selected">
            <thead>
                <tr>
                    <th name="{{language.content.panelTable.headers.name[language.current]}}"></th>
                    <th name="{{language.content.panelTable.headers.created[language.current]}}"></th>
                    <th name="{{language.content.panelTable.headers.updated[language.current]}}"></th>
                    <th name="{{language.content.panelTable.headers.language[language.current]}}"></th>
                    <th name="{{language.content.panelTable.headers.stars[language.current]}}"></th>
                    <th name="{{language.content.panelTable.headers.forks[language.current]}}"></th>
                </tr>
            </thead>
            <tbody>
                <tr md-auto-select ng-repeat="repo in data.repositories track by $index">
                    <td>{{repo.name}}</td>
                    <td>{{repo.createdAt}}</td>
                    <td>{{repo.updatedAt}}</td>
                    <td>{{repo.language}}</td>
                    <td>{{repo.stars}}</td>
                    <td>{{repo.forks}}</td>
                </tr>
            </tbody>
        </table>
    </md-data-table-container>
</div>
