<ng-form novalidate name="getUserForm" layout="column" layout-padding>
    <md-input-container style="margin: 0 0 0 0 ">
        <label>Username</label>
        <input type="text" ng-model="getUserFormData.name" name="name" required="">
    </md-input-container>
    <div layout>
        <span flex></span>
        <md-button ng-click="getUserData()" class="md-button md-raised" aria-label="...">
            Get user data
        </md-button>
    </div>
</ng-form>
<md-divider></md-divider>
<div ng-hide="data == null || data.repositories.length == 0">
    <md-data-table-toolbar style="border-bottom: solid whitesmoke 1px; background-color: skyblue">
        <div class="md-toolbar-tools">
            <span>{{data.userData.username}}'s repositories</span>
        </div>
        <span flex></span>
        <md-button ng-click="starRepo()" ng-disabled="selected.length == 0" class="md-icon-button">
            <md-icon md-svg-icon="../icons/ic_sentiment_satisfied_black_24px.svg"></md-icon>
        </md-button>
        <md-button ng-click="unstarRepoDialog()" ng-disabled="selected.length == 0" class="md-icon-button">
            <md-icon md-svg-icon="../icons/ic_sentiment_dissatisfied_black_24px.svg"></md-icon>
        </md-button>
    </md-data-table-toolbar>
    <md-data-table-container style="max-height: 50vh">
        <table md-data-table md-row-select="selected">
            <thead>
                <tr>
                    <th name="Name"></th>
                    <th name="Created"></th>
                    <th name="Updated"></th>
                    <th name="Language"></th>
                    <th name="Stars"></th>
                    <th name="Forks"></th>
                </tr>
            </thead>
            <tbody>
                <tr md-auto-select ng-repeat="repo in data.repositories track by $index">
                    <td>{{repo.name}}</td>
                    <td>{{repo.createdAt}}</td>
                    <td>{{repo.updatedAt}}</td>
                    <td>{{repo.language}}</td>
                    <td>{{repo.stars}}</td>
                    <td>{{repo.forks}}</td>
                </tr>
            </tbody>
        </table>
    </md-data-table-container>
</div>
