<md-dialog aria-label="">
    <md-dialog-content layout-padding>
        <h3>Do you really want to unstar this repo?</h3>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" style="margin-right:20px;">
            Useful
        </md-button><md-button ng-click="answer('useful')" style="margin-right:20px;">
    Useful
</md-button>
    </md-dialog-actions>
</md-dialog>